<h2> You Want to Change your Email </h2>
<p>In order to prevent anyone to try to change your email we provide you a verification code to use </p>
<p>If you are not really attempting to change your email dismiss this email</p>
<p>Thank you for Using our application and thinking about updating your profile in it</p>
<h3>Here is your code {{ verificationCode }} </h3>

<h2>Stay Safe and have a good time planning your movie seeing in our application ❤️ ❤️ ❤️</h2>